<a href="https://colab.research.google.com/github/Adarshbaj/Adarshbaj/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
for x in range(5,0,-1):
  for y in range(0,x):
    print(x,end="")
  print()

55555
4444
333
22
1

In [5]:
for x in range(0,6):
  for y in range(0,x):
    print(x,end="")
  print()

1
22
333
4444
55555

In [7]:
for x in range(5,0,-1):
  for y in range(0,x):
    print(" ",end="")
  for z in range(0,5):
    print("x",end="")
  print()

     xxxxx
    xxxxx
   xxxxx
  xxxxx
 xxxxx

In [8]:
for x in range(0,5):
  for y in range(0,x):
    print(" ",end="")
  for z in range(0,5):
    print("x",end="")
  print()

xxxxx
 xxxxx
  xxxxx
   xxxxx
    xxxxx

In [10]:
for x in range(1,6):
  for y in range(0,x):
    print("x",end=" ")
  print()

x
x x
x x x
x x x x
x x x x x

In [15]:
for x in range(1,7):
  for y in range(1,x):
    print(y,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
for x in range(1,6):
  for y in range(0,x):
    print(x,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [17]:
for x in range(5,0,-1):
  for y in range(0,x):
    print("x",end=" ")
  print()

x x x x x
x x x x
x x x
x x
x

In [18]:
for x in range(5,0,-1):
  for y in range(0,x):
    print(x,end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [27]:
for x in range(0,5):
  for y in range(5,x,-1):
    print(y,end=" ")
  print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [28]:
for x in range(1,6):
  for y in range(6,x,-1):
    print(x,end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [32]:
for x in range(1,6):
  for y in range(5,x,-1):
    print("",end=" ")
  for z in range(0,x):
    print("x",end="")
  print()

    x
   xx
  xxx
 xxxx
xxxxx

In [36]:
for x in range(0,6):
  for y in range(5,x,-1):
    print("",end=" ")
  for z in range(1,2*x):
    print("x",end="")
  print()

    x
   xxx
  xxxxx
 xxxxxxx
xxxxxxxxx